<?xml version="1.0" encoding="utf-8"?>
<Wix
  xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product
    Id="*"
    Name="OnlyGANTT"
    Language="1033"
    Version="$(var.ProductVersion)"
    Manufacturer="Danny Perondi"
    UpgradeCode="A4D53FF8-7371-4D14-A5A4-1D28234EFB7E">
    <Package
      InstallerVersion="500"
      Compressed="yes"
      InstallScope="perMachine"
      Platform="x64"
      Description="OnlyGANTT server installer" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of OnlyGANTT is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />
    <Icon Id="OnlyGanttIcon" SourceFile="$(var.BrandIcon)" />
    <Property Id="ARPPRODUCTICON" Value="OnlyGanttIcon" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <Property Id="APPPORT" Value="3000" />
    <Property Id="INSTALLSERVICE" Value="1" />
    <Property Id="SHORTCUTURL" Value="http://localhost:3000/" />
    <Property Id="ADMINRESETCODE" Secure="yes" Hidden="yes" />

    <Property Id="NODEINSTALLDIR">
      <RegistrySearch
        Id="NodeInstallDirSearch"
        Root="HKLM"
        Key="SOFTWARE\Node.js"
        Name="InstallPath"
        Type="raw"
        Win64="yes" />
    </Property>

    <Condition Message="APPPORT must be a TCP port between 1 and 65535.">
      APPPORT &gt;= 1 AND APPPORT &lt;= 65535
    </Condition>
    <Condition Message="Node.js 24 LTS or newer must be installed before installing OnlyGANTT. Use OnlyGantt-Setup to install prerequisites automatically.">
      Installed OR NODEINSTALLDIR
    </Condition>

    <Feature Id="MainFeature" Title="OnlyGANTT" Level="1" Absent="disallow">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentRef Id="CmpInstallRootCleanup" />
      <ComponentRef Id="CmpDataRoot" />
      <ComponentRef Id="CmpDataConfig" />
      <ComponentRef Id="CmpDataLog" />
      <ComponentRef Id="CmpDataDepartments" />
      <ComponentRef Id="CmpDataUsers" />
      <ComponentRef Id="CmpDesktopShortcut" />
      <ComponentRef Id="CmpNativeService" />
    </Feature>

    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="OnlyGanttConfigDlg" Order="4">
        WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"
      </Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="OnlyGanttConfigDlg" Order="1">1</Publish>
    </UI>
    <UIRef Id="WixUI_ErrorProgressText" />
  </Product>

  <Fragment>
    <UI>
      <Dialog Id="OnlyGanttConfigDlg" Width="370" Height="270" Title="[ProductName] server configuration">
        <Control Id="Title" Type="Text" X="15" Y="6" Width="340" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}Server configuration" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="320" Height="20" Transparent="yes" NoPrefix="yes" Text="Configure the local service and browser shortcut." />
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />

        <Control Id="PortLabel" Type="Text" X="25" Y="62" Width="90" Height="15" Text="Server port:" />
        <Control Id="PortEdit" Type="Edit" X="120" Y="58" Width="70" Height="18" Property="APPPORT" Integer="yes" />

        <Control Id="ServiceCheckBox" Type="CheckBox" X="25" Y="88" Width="320" Height="18" Property="INSTALLSERVICE" CheckBoxValue="1" Text="Install and start OnlyGANTT as a Windows service" />

        <Control Id="ShortcutLabel" Type="Text" X="25" Y="118" Width="320" Height="15" Text="Desktop shortcut URL:" />
        <Control Id="ShortcutEdit" Type="Edit" X="25" Y="135" Width="320" Height="18" Property="SHORTCUTURL" />

        <Control Id="ResetCodeLabel" Type="Text" X="25" Y="165" Width="320" Height="15" Text="Initial admin reset code (optional):" />
        <Control Id="ResetCodeEdit" Type="Edit" X="25" Y="182" Width="320" Height="18" Property="ADMINRESETCODE" Password="yes" />
        <Control Id="ResetCodeHint" Type="Text" X="25" Y="204" Width="320" Height="24" Text="Leave empty to configure admin access after first start without setup-managed reset." />

        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)">
          <Publish Event="NewDialog" Value="InstallDirDlg">1</Publish>
        </Control>
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)">
          <Publish Event="NewDialog" Value="VerifyReadyDlg" Order="1">APPPORT &gt;= 1 AND APPPORT &lt;= 65535</Publish>
          <Publish Event="SpawnDialog" Value="InvalidPortDlg" Order="2">APPPORT &lt; 1 OR APPPORT &gt; 65535</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
      </Dialog>

      <Dialog Id="InvalidPortDlg" Width="260" Height="85" Title="[ProductName]">
        <Control Id="Message" Type="Text" X="15" Y="15" Width="230" Height="30" Text="Server port must be a number between 1 and 65535." />
        <Control Id="Ok" Type="PushButton" X="102" Y="57" Width="56" Height="17" Default="yes" Cancel="yes" Text="OK">
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>
      </Dialog>
    </UI>
  </Fragment>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLDIR" Name="OnlyGANTT">
          <Directory Id="DATADIR" Name="Data">
            <Directory Id="DATACONFIGDIR" Name="config" />
            <Directory Id="DATALOGDIR" Name="log" />
            <Directory Id="DATADEPARTMENTSDIR" Name="reparti" />
            <Directory Id="DATAUSERSDIR" Name="utenti" />
          </Directory>
          <Directory Id="SERVICEHOSTDIR" Name="service" />
        </Directory>
      </Directory>
      <Directory Id="CommonDesktopFolder" />
    </Directory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="SERVICEHOSTDIR">
      <Component Id="CmpNativeService" Guid="29CD9322-0B8D-430B-BA4E-3A58E8F468C4" Win64="yes">
        <Condition>INSTALLSERVICE = "1"</Condition>
        <File Id="FilNativeServiceHost" Source="$(var.ServiceHostSource)" KeyPath="yes" Checksum="yes" />
        <ServiceInstall
          Id="SvcInstallOnlyGantt"
          Name="OnlyGanttWeb"
          DisplayName="OnlyGantt Web Server"
          Description="OnlyGANTT server service"
          Type="ownProcess"
          Start="auto"
          ErrorControl="normal"
          Vital="yes"
          Account="LocalSystem"
          Arguments="--app-dir &quot;[INSTALLDIR]&quot; --node-path &quot;[NODEINSTALLDIR]node.exe&quot; --server-js &quot;[INSTALLDIR]src\server\server.js&quot; --data-dir &quot;[DATADIR]&quot; --port [APPPORT] --log-dir &quot;[DATALOGDIR]&quot; --admin-reset-code &quot;[ADMINRESETCODE]&quot;" />
        <ServiceControl
          Id="SvcControlOnlyGantt"
          Name="OnlyGanttWeb"
          Start="install"
          Stop="both"
          Remove="uninstall"
          Wait="yes" />
        <util:ServiceConfig
          ServiceName="OnlyGanttWeb"
          FirstFailureActionType="restart"
          SecondFailureActionType="restart"
          ThirdFailureActionType="restart"
          RestartServiceDelayInSeconds="30"
          ResetPeriodInDays="1" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="CommonDesktopFolder">
      <Component Id="CmpDesktopShortcut" Guid="9D4420AB-7900-4C78-9E81-3BEE8481F79F" Win64="yes">
        <IniFile Id="DesktopShortcutUrl" Action="addLine" Directory="CommonDesktopFolder" Name="OnlyGANTT.url" Section="InternetShortcut" Key="URL" Value="[SHORTCUTURL]" />
        <IniFile Id="DesktopShortcutIcon" Action="addLine" Directory="CommonDesktopFolder" Name="OnlyGANTT.url" Section="InternetShortcut" Key="IconFile" Value="[INSTALLDIR]src\public\brand\onlygantt.ico" />
        <RemoveFile Id="RemoveDesktopShortcut" Directory="CommonDesktopFolder" Name="OnlyGANTT.url" On="uninstall" />
        <RegistryValue
          Root="HKLM"
          Key="SOFTWARE\Danny Perondi\OnlyGANTT\Installer"
          Name="DesktopShortcut"
          Type="string"
          Value="[SHORTCUTURL]"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="CmpInstallRootCleanup" Guid="D4ED91C9-D34D-4B04-92D5-3F25728BFA03" Win64="yes">
        <CreateFolder />
        <RemoveFolder Id="RemoveInstallRootDir" On="uninstall" />
        <RegistryValue
          Root="HKLM"
          Key="SOFTWARE\Danny Perondi\OnlyGANTT\Installer"
          Name="InstallRoot"
          Type="string"
          Value="[INSTALLDIR]"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DATADIR">
      <Component Id="CmpDataRoot" Guid="AF520689-7EA0-48C4-BABC-D26274B8FC4A" Win64="yes">
        <CreateFolder />
        <RemoveFile Id="RemoveDataRootFiles" Name="*.*" On="uninstall" />
        <RemoveFolder Id="RemoveDataRootDir" On="uninstall" />
        <RegistryValue
          Root="HKLM"
          Key="SOFTWARE\Danny Perondi\OnlyGANTT\Installer"
          Name="DataRoot"
          Type="string"
          Value="[DATADIR]"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DATACONFIGDIR">
      <Component Id="CmpDataConfig" Guid="AEBE1CCC-7100-4161-BC93-81E4F13FE4CF" Win64="yes">
        <CreateFolder />
        <RemoveFile Id="RemoveDataConfigFiles" Name="*.*" On="uninstall" />
        <RemoveFolder Id="RemoveDataConfigDir" On="uninstall" />
        <RegistryValue
          Root="HKLM"
          Key="SOFTWARE\Danny Perondi\OnlyGANTT\Installer"
          Name="DataConfig"
          Type="string"
          Value="[DATACONFIGDIR]"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DATALOGDIR">
      <Component Id="CmpDataLog" Guid="57B83069-E6A1-433A-B12C-E0FCB69BC72B" Win64="yes">
        <CreateFolder />
        <RemoveFile Id="RemoveDataLogFiles" Name="*.*" On="uninstall" />
        <RemoveFolder Id="RemoveDataLogDir" On="uninstall" />
        <RegistryValue
          Root="HKLM"
          Key="SOFTWARE\Danny Perondi\OnlyGANTT\Installer"
          Name="DataLog"
          Type="string"
          Value="[DATALOGDIR]"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DATADEPARTMENTSDIR">
      <Component Id="CmpDataDepartments" Guid="DFD81D72-C8A5-4BC4-87D7-49CE5BFB4E91" Win64="yes">
        <CreateFolder />
        <RemoveFile Id="RemoveDataDepartmentFiles" Name="*.*" On="uninstall" />
        <RemoveFolder Id="RemoveDataDepartmentsDir" On="uninstall" />
        <RegistryValue
          Root="HKLM"
          Key="SOFTWARE\Danny Perondi\OnlyGANTT\Installer"
          Name="DataDepartments"
          Type="string"
          Value="[DATADEPARTMENTSDIR]"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DATAUSERSDIR">
      <Component Id="CmpDataUsers" Guid="6CF40BCC-8B53-4B7E-8C52-BCB77C8C871F" Win64="yes">
        <CreateFolder />
        <RemoveFile Id="RemoveDataUserFiles" Name="*.*" On="uninstall" />
        <RemoveFolder Id="RemoveDataUsersDir" On="uninstall" />
        <RegistryValue
          Root="HKLM"
          Key="SOFTWARE\Danny Perondi\OnlyGANTT\Installer"
          Name="DataUsers"
          Type="string"
          Value="[DATAUSERSDIR]"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
